@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/assets/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
  @apply font-sans antialiased;
}

html,
body,
#root {
  @apply h-full;
}

body {
  @apply bg-neutral-50 text-neutral-600;
}

h1 {
  @apply text-4xl font-bold tracking-tight text-neutral-800 sm:text-5xl;
}

#root {
  @apply relative mx-auto flex w-full max-w-4xl flex-col items-center justify-center px-8;
}
